.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid red;

  .content-delete__button {
    margin-left: 40px;
  }

  .content-container__pagination {
    margin-top: 20px;
    margin-left: 400px !important;
  }

}

.strikethrough {
  text-decoration: line-through;
}

@media screen and (max-width: 540px) {
  .content-container {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    max-width: 390px;
    height: 100vh !important;
  }

  .content-container__pagination {
    margin-right: 150px;
  }
}

@media screen and (max-width: 768px) {
  .content-container {
    display: flex;
    align-items: center !important;
    flex-direction: column;
    justify-content: center !important;
    height: 100vh !important;
    width: 100%  !important;
  }

  .content-container__pagination {
    margin-right: 150px;
  }
}