.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh !important;
  border: 1px solid red;

  .content-delete__button {
    margin-left: 40px;
  }

  .content-container__pagination {
    margin-top: 20px;
    margin-left: 400px !important;
  }

}

.strikethrough {
  text-decoration: line-through;
}