.content-topBox {
    display: flex;
    justify-content: space-around;
    width: 100%;

    input {
        border-radius: 10px;
        width: 440px;
    }

    .content-topBox__add-Button {
        width: 150px;
    }

    .content-topBox__allDelete-Button {
        width: 200px;

        &:hover {
            background: red;
        }
    }
}

@media screen and (max-width:540px) {
    .content-topBox {
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        max-width: 350px;
        width: 100%;

        input {
            position: relative;
            top: 80px;
            right: 100px;
            width: 150px !important;
            height: 40px !important;
        }

    }

    .content-topBox__add-Button {
        position: relative;
        top: 50px;
        left: 25px;
        width: 80px !important;
        height: 30px;
        font-size: 10px !important;
    }

    .content-topBox__allDelete-Button {
        position: relative;
        top: 20px;
        left: 130px;
        width: 120px !important;
        height: 30px;
        font-size: 10px !important;
    }
}
