.content__altBox {
    display: flex;
    width: 600px;
    height: auto;
    border-radius: 10px;


    .container__altBox-actions {
        width: 250px !important;
    }
}

.content__altBox-message {
    text-decoration: none;
}

.completed-task {
    text-decoration: line-through !important;
}