.sideBar-container {
    display: flex;
    height: 300px !important;
    flex-direction: column;
    background: rgb(139, 160, 255);
    padding: 20px;
    border: 20px;
    border: 1px solid black;

    .sideBar-container__information {
        display: flex;
        flex-direction: column;

        h3 {
            text-decoration: underline;
        }
    }

    .sideBar-container__libraries {
        h3 {
            text-decoration: underline;
        }
        .sideBar-container__buttons {
            display: flex;

            button {
                margin-left: 15px;
                border-style: none;

                &:first-child {
                    background: pink;
                }

                &:nth-child(2) {
                    background: yellow;
                }

                &:nth-child(3) {
                    background: rgb(221, 0, 255);
                }

                &:nth-child(4) {
                    background: rgb(108, 108, 255);
                }
            }
        }
    }

}

@media screen and (max-width:540px) {
    .sideBar-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .sideBar-container__information{
            display: flex;
            align-items: flex-start;
        }
        .sideBar-container__libraries{
            display: flex;
            margin-left: 30px;
            align-items: flex-start !important;
            flex-direction: column;
        }
    }
}